#contact-container {
    border: 1px solid lightgrey;
    padding: 2%;
}

#success_message {
    display: flex;
    justify-content: center;
    padding: 1%;

}

@media screen and (max-width: 767px) {
    #contact-container {
        margin: 2%
    }
}
