#contact-container {
    border: 1px solid lightgrey;
    padding: 2%;
}

#message-box {
    display: flex;
    justify-content: center;
}

#success_message {
    margin: 0% 4%; 
}

@media screen and (max-width: 767px) {
    #contact-container {
        margin: 2%
    }
}
