

#service-pages-container {
    padding-top: 2rem;
}

#service-pages-container h1 {
    font-size: min(max(2rem, 4vw), 4rem);
}

#service-pages-intro-container {
    margin-top: 0.5%;
    padding: 3rem;
}

#service-pages-imgtxt-container {
    border: 1px lightgray solid;
    margin-top: 0.5%;
}


